@charset "UTF-8";

/********** 초기화 **********/
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset,
	legend, p, select, table, th, td, tr, textarea, button, form {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

body {
	font-family: "맑은 고딕", 돋음;
	font-size: 12px;
}

ol, ul {
	list-style: none;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

a:active {
	text-decoration: none;
	color: black;
}

/** footer 하단 고정 **/
body {
	min-height: 95vh; /* 최소 높이를 지정 */
	display: flex;
	flex-direction: column;
	margin: 0px;
}

/** 폭 설정 **/
.row {
	width: 100%;
}

/** nav **/
#navbox {
	border-bottom: 2px solid #59007e;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 12px;
}

.navbar_menu, .navbar_login {
	padding: 0px;
	margin: 0px;
	display: flex;
	list-style: none;
}

/** nav_logo **/
.navbar_logo {
	padding-top: 8px;
	font-family: 'Pacifico', cursive;
	font-size: 55px;
}

.navbar_logo i {
	color: indigo;
}

/** nav_menu **/
.navbar_menu li {
	padding: 0px 45px;
	padding-top: 20px;
	font-size: 23px;
}

.navbar_menu a:hover {
	color: #59007e;
	font-weight: bold;
}

/** nav_login **/
.navbar_login li {
	padding: 8px 5px;
	padding-top: 25px;
	font-size: 14px;
}

/** footer **/
#footerbox {
	height: 60px;
	position: relative;
	border-top: 1px solid #bfbfbf;
	margin-top: auto;
	font-size: 13px;
}

/* Login 후 */
.navbar b {
	vertical-align: middle;
}

#main_profile {
	width: 30px;
	height: 30px;
	border-radius: 70%;
	object-fit: cover;
	image-rendering: -webkit-optimize-contrast;
}

#main_dropdown {
	width: 15px;
	height: 15px;
}

.dropbtn {
	background-color: white;
	color: white;
	font-size: 16px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 2;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: white;
}