@charset "UTF-8";

/********** 초기화 **********/
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset,
	legend, p, select, table, th, td, tr, textarea, button, form {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

body {
	font-family: "맑은 고딕", 돋음;
	font-size: 12px;
}

#br_sidebar {
	-ms-overflow-style: none;
}

#br_sidebar::-webkit-scrollbar {
	display: none;
}

ol, ul {
	list-style: none;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

a:active {
	text-decoration: none;
	color: black;
}

/* clearfix */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

#br_container {
	width: 1400px;
	margin: 0px auto;
}

#br_sidebar {
	width: 240px;
	padding: 0px;
	margin: 0px;
	height: 100%;
	overflow: auto;
	position: fixed;
	background-color: #efefef;
}

#br_content {
	width: 1158px;
	padding: 15px;
	margin-bottom: 20px;
	margin-left: 240px;
	float: left;
}

/** live_logo **/
.live_logo {
	margin: 0px 10px;
	font-family: 'Pacifico';
	font-size: 30px;
}

/** live_title **/
.live_title {
	margin: 0px 10px 5px 10px;
	font-size: 18px;
	font-weight: bold;
}

/** 사이드 네비 **/
.side_nav {
	width: 225px;
	height: 75px;
	padding: 5px 10px;
	margin-left: 10px;
	margin-bottom: 15px;
}

/** 프로필 사진 **/
.profile_img {
	width: 60px;
	height: 60px;
	overflow: hidden;
	float: left;
}

.profile_user_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 70%;
}

.profile_picture {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 70%;
}

/** 활동명 **/
.profile_name {
	float: left;
	width: auto;
	margin-top: 7px;
	padding: 0px 15px 0px 8px;
	font-size: 15px;
	font-weight: bold;
}

/** 장르 **/
.profile_genre {
	width: 100px;
	height: 40px;
	position: absolute;
	margin-top: 30px;
	margin-left: 60px;
	padding-left: 8px;
}

.profile_genre img {
	width: 60px;
}

/** 라이브 이미지 **/
.live_on {
	float: left;
	width: 10px;
	height: 10px;
	margin-top: 14.3px;
	background-color: #ff0000;
	border: 2px solid #ff0000;
	border-radius: 100%;
}

/** footer **/
.footer {
	margin-top: 120px;
	padding: 0px 25px;
}

/** 배너 **/
.banner {
	width: auto;
	height: 200px;
	border: 2px solid #000;
	image-rendering: -webkit-optimize-contrast;
}

/** 블로그 관리 **/
.setting {
	width: 25px;
	margin: 10px;
	float: right;
}

/** 공연시작 버튼 **/
.btn_start {
	width: 120px;
	height: 40px;
	position: relative;
	margin-top: 115px;
	right: -995px;
	background: #9A30AE;
	color: #fff;
	border: none;
	border-radius: 20px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
	background: #9A30AE;
	text-align: center;
}

.btn_start:hover {
	background: #fff;
	color: #9A30AE;
	font-weight: bold;
}

/** 공연종료 버튼 **/
.btn_end {
	width: 120px;
	height: 40px;
	position: relative;
	margin-top: 115px;
	right: -995px;
	background: #ff0000;
	color: #fff;
	border: none;
	border-radius: 20px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
	margin-top: 115px;
	right: -995px;
}

.btn_end:hover {
	background: #fff;
	color: #ff0000;
	font-weight: bold;
}

/** sns 버튼 **/
.facebook {
	width: 25px;
	float: right;
	margin-top: 163px;
	margin-right: -25px;
	margin-left: 35px;
}

.instagram {
	width: 26px;
	float: right;
	margin-top: 163px;
	margin-right: -25px;
	margin-left: 35px;
}

.youtube {
	width: 33px;
	float: right;
	margin-top: 164px;
	margin-right: -25px;
}

/** 프로필 박스 **/
.profile_box {
	margin: 20px 30px 0px 30px;
	height: 150px;
}

/** 메인 프로필 **/
.main_profile {
	width: 120px;
	height: 120px;
	overflow: hidden;
	border-radius: 70%;
	text-align: center;
	float: left;
}

/** 프로필 사진 **/
.main_profile img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	image-rendering: -webkit-optimize-contrast;
}

/** 프로필 테이블 **/
.profile_intr {
	float: left;
	margin-top: 23px;
	margin-left: 10px;
	margin-right: 10px;
}

/** 이력사항 테이블 **/
.profile_his {
	float: left;
	margin-top: 23px;
	margin-right: 10px;
}

/** 메인 장르 **/
.main_genre {
	width: 440px;
}

.main_genre img {
	width: 60px;
}

/** 활동명 **/
.main_name {
	font-size: 18px;
	font-weight: bold;
}

/** 소개 **/
.main_intr {
	font-size: 12px;
}

/** 이력사항 **/
.history {
	padding-left: 10px;
	width: 200px;
}

.history img {
	width: 60px;
}

.history1 {
	padding: 0px 10px 0px 10px;
	font-size: 12px;
}

.history2 {
	padding: 0px 10px 0px 10px;
	width: 180px;
	font-size: 12px;
}

/** 좋아요 및 팬 되기 박스 **/
.like_box {
	float: right;
	margin-top: 35px;
}

/** 좋아요 **/
.heart {
	width: 30px;
	margin-right: 20px;
}

.heart_count {
    padding-right: 19px;
    text-align: center;
}

/** 팬 되기 **/
.like {
	width: 30px;
}

.like_count {
	text-align: center;
}

/** nav **/
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 12px;
	margin-left: 30px;
}

.navbar_menu {
	padding: 0px;
	margin: 0px;
	display: flex;
	list-style: none;
}

/** nav_menu **/
.navbar_menu li {
	padding: 0px 40px;
	font-size: 20px;
}

.navbar_menu li {
	color: #bfbfbf;
}

.navbar_menu a:hover {
	color: #59007e;
	font-weight: bold;
}

.bold a {
	font-weight: bold;
	color: #000;
}

.profile_genre img, .main_genre img, .history img {
	image-rendering: -webkit-optimize-contrast;
	backface-visibility: hidden;
	transform: translateZ(0);
}

.artist_chart tr{
	padding: 5px, 0px, 5px, 0px;
}

.rank{
	display: block;
    font-size: 16px;
    font-weight: 400;
    color: #3A3635;
    line-height: 16px;
    text-align: center;
}