@charset "UTF-8";

/********** 초기화 **********/
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4,
h5, h6, input, fieldset, legend, p, select, table, 
th, td, tr, textarea, button, form {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
body {font-family: "맑은 고딕", 돋음; font-size: 12px;}
ol, ul {list-style: none;}
a:link {text-decoration: none; color: black;}
a:visited {text-decoration: none; color: black;}
a:hover {text-decoration: none; color: black;}
a:active {text-decoration: none; color: black;}

/* clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* 메인 */
.main-detail{
  margin: 10px 50px 0px 28px;
  width: 1064px;
}

/* 디테일 해더 */


/* 해더 */
.modify-header {
  border-bottom: lightgray solid 2px;
  padding-left: 5px;
  margin-top: 10px;
}

#profilepicture {
  width: 36px;
  height: 36px;
  border-radius: 70%;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
}

.modify-header span:nth-child(2){
  margin-left: 5px;
  font-size: 13px;
}

.modify-header span:nth-child(3){
  margin-left: 20px;
  font-size: 13px;
}

.modify-header span:nth-child(4){
  margin-left: 20px;
  font-size: 13px;
}

#modifybutton{
  float: right;
  padding: 8px 12px;
  margin: 0px 5px 5px 0px;
  border: none;
  font-weight: bold;
  background: #BFBFBF;
  color: white;
  border: 1px solid #DDDDDD;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

#deletebutton{
  float: right;
  padding: 8px 12px;
  margin: 0px 0px 0px 0px;
  border: none;
  font-weight: bold;
  background: red;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

/* 내용Content */
.detail-content{
  margin-top: 10px;
  min-height: 400px;
  padding: 5px;
}


/* 게시판 */
#board table {
  width: 1067px;
  border-collapse: collapse; 
}

/* 글쓰기 버튼 */

#writebutton img {
  display: inline-block;
  width: 15px;
  padding-bottom: 3px;
  margin-right: 5px;
}
#writebutton{
  float: right;
  padding: 8px 12px;
  margin: 8px 0px 10px 0px;
  border: none;
  font-weight: bold;
  background: #FAFAFA;
  border: 1px solid #DDDDDD;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

/* 게시판 table */

#board table>thead>tr {
  border-top: 2px solid #808080; 
  border-bottom: 2px solid #808080;
  background-color: #E8E8E8; 
  padding: 0px;
}

#board table>thead>tr>th {
  padding: 10px 0px 10px 0px;
  font-weight: bold; 
  font-size: 14px;
  text-align: center;
}

#board table>tbody>tr { 
  border-bottom: 1px solid #808080;
  text-align: center;
}


#board table>tbody>tr>td {
  padding: 10px 0px 10px 0px;
}

#board tbody tr:first-child{
    color: red;
    background-color: #F5F5F5;
    font-weight: bold;
}

#board tbody tr:first-child a{
    color: red;
    background-color: #F5F5F5;
    font-weight: bold;
}

#board tbody tr:nth-child(2){
    color: red;
    background-color: #F5F5F5;
    font-weight: bold;
}

#board tbody tr:nth-child(2) a{
    color: red;
    background-color: #F5F5F5;
    font-weight: bold;
}

#board tbody tr:nth-child(3){
    color: red;
    background-color: #F5F5F5;
    font-weight: bold;
}

#board tbody tr:nth-child(3) a{
    color: red;
    background-color: #F5F5F5;
    font-weight: bold;
}

/* Common */
.navbar .bold {
  color: #59007e;
  font-weight: bold;
}

.main-detail .bold {
  font-weight: bold;
}



