@charset "UTF-8";

.gallery_box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-gap: 15px;
  max-width: 1100px;
  padding: 15px 29px 15px 16px;
  margin: 0 auto;
  box-sizing: border-box;
}

.gallery_item {
  margin-top: 10px;
}

.gallery_box .gallery_item {
  position: relative;
  width: 100%;
  height: 300px;
  background: #000;
  cursor: pointer;
  overflow: hidden;
}

.gallery_box .gallery_item img {
  position: relative;
  display: block;
  width: 115%;
  height: 300px;
  object-fit: cover;
  transition: all 350ms ease-in-out;
  transform: translate3d(-23px, 0, 0);
}

.north-cascades-img {
  object-position: 50% 30%;
}

.gallery_box .gallery_item .gallery_item_caption {
  padding: 32px;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
}

.gallery_box .gallery_item .gallery_item_caption,
.gallery_box .gallery_item .gallery_item_caption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery_box .gallery_item h2 {
  font-weight: 300;
  overflow: hidden;
  padding: 12px 0;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(10%, 0, 0);
}

.gallery_box .gallery_item h2,
.oo-gallery .gallery_item p {
  position: relative;
  margin: 0;
  z-index: 1;
  pointer-events: none;
}

.gallery_box .gallery_item p {
  letter-spacing: 1px;
  font-size: 12px;
  padding: 12px 0;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(10%, 0, 0);
}

.gallery_box .gallery_item:hover img {
  opacity: 0.3;
  transform: translate3d(0, 0, 0);
}

.gallery_box .gallery_item .gallery_item_caption {
  text-align: left;
}

.gallery_box .gallery_item h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
  height: 1px;
  background: #fff;
  transition: transform 0.3s;
  transform: translate3d(-100%, 0, 0);
}

.gallery_box .gallery_item:hover h2::after {
  transform: translate3d(0, 0, 0);
}

.gallery_box .gallery_item:hover p, .gallery_box .gallery_item:hover h2 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.modal-dialog {
  width:auto;
  display:table;
}

#modal_img {
  width: 1000px;
  max-height: 900px;
}