@charset "UTF-8";

/********** 초기화 **********/
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4,
h5, h6, input, fieldset, legend, p, select, table,
th, td, tr, textarea, button, form {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

body {font-family: "맑은 고딕", 돋음; font-size: 12px;}
ol, ul {list-style: none;}
a:link {text-decoration: none; color: black;}
a:visited {text-decoration: none; color: black;}
a:hover {text-decoration: none; color: black;}
a:active {text-decoration: none; color: black;}

/* clearfix */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  width: 100%;
  overflow: hidden;
}

input[type="radio"]:checked ~ .reveal-if-active,
input[type="checkbox"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100px; /* little bit of a magic number :( */
  overflow: visible;
}

.modal-body input[type=text] {
  width: 100%;
  padding: 4px 8px;
  margin: 8px 0;
  box-sizing: border-box;
}
.modal-label{
  font-size: 14px;
  width: 50px;
}

.thumbnail label{
  font-size: 14px;
}

.thumbnail input[type=text]{
  width: 100%;
  padding: 4px 8px;
  margin: 8px 0;
  box-sizing: border-box;
}

.mylocation{
  padding: 4px 6px;
  margin: 0px 0px 5px 0px;
  border: none;
  font-weight: bold;  
  background: #FAFAFA;
  border: 1px solid #DDDDDD;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
}

/* Input Testing */