@charset "UTF-8";

/********** 초기화 **********/
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4,
h5, h6, input, fieldset, legend, p, select, table, 
th, td, tr, textarea, button, form {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
body {font-family: "맑은 고딕", 돋음; font-size: 12px;}
ol, ul {list-style: none;}
a:link {text-decoration: none; color: black;}
a:visited {text-decoration: none; color: black;}
a:hover {text-decoration: none; color: black;}
a:active {text-decoration: none; color: black;}

/* clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.modify-header {
    margin: 20px 41px 30px 28px;
    border-bottom: lightgray solid 2px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.modify-header h5 {
    font-weight: bolder;
    font-size: 20px;
}

/* Table */

.modify-form table {
    border-collapse: collapse;
    width: 1060px;
    margin-left: 28px;
}

.modify-form table td {
    border: 1px solid #E5E5E5;
    padding: 20px 10px 20px 10px;
}

.input {
    margin-left: 10px;
    padding: 4px 4px 4px 4px;
    width: 90%;
}

.sns-input {
    padding: 4px 4px 4px 4px;
    width: 613px;
    margin: 10px 0px 10px 0px;
}

#profilepicturechange {
    margin-left: 24px;
    margin-top: 5px;
}

#profilepicturedelete {
	font-size: 12px;
    margin-top: 5px;
}

.modify-form table tr td:first-child {
    border-left: 0;
}

.modify-form table tr td:last-child,
.modify-form .modify-formtable tr th:last-child {
  border-right: 0;
}

.table-head {
    background-color:#F9F9F9;
    width: 25%;
}

.table-head label {
    margin-left: 30px;
}

.modify-form label {
    font-weight: bold;
    font-size: 14px;
}

#profilepicture {
    border-radius: 8px;
    width: 150px;
    height: 150px;
}

#profilesubmit {
    font-weight: bold;
    border: none;
    width: 50px;
    height: 30px;
    padding: 2px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 5px;
}

#profilecancel {
    font-weight: bold;
    border: none;
    width: 50px;
    height: 30px;
    padding: 2px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 50px;
}

.active {
    font-weight: bold;
}

.radio {
    margin-left: 10px;
}

.radiolabel {
    position: relative;
    padding-right: 35px;
    padding-left: 3px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
}

.required:after {
    content:" *";
    color: red;
  }

  /* Banner */
.bannerTable img {
    display: block;
    margin-left: 10px;
    width: 696px;
    height: 125px;
    image-rendering: -webkit-optimize-contrast;
    background-size: 100% 100%;
}

.field_wrapper img {
	width: 20px;
	margin-left: 2px;
}

#file1 {
    display: none;
}

#banner span {
    padding-left: 10px;
    font-size: 12px;
    color: gray;
}

#banner-changebutton {
    float: right;
    margin-right: 7px;
    margin-top: 8px;
}   

#banner-deletebutton {
    float: right;
    margin-right: 70px;
    margin-top: 8px;
}   

.remove_button {
	margin-left: 5px; 
	width: 18px;
}

.additionalResume {
	margin-top : 5px;
}

.label-width label {
    width: 90px;
}

textarea{
    resize:none;
}