@charset "UTF-8";

/* Paging */
.container {
    padding: 1rem;
    margin: 0px;
    text-align: center;
  }
.container:after {
    clear: both;
    content: "";
    display: table;
  }
.container ul {
    width: 100%;
  }

.pagination  ul, li {
    list-style: none;
    display: inline;
    padding-left: 0px;
    font-size: 12px;
  }

.pagination  li:hover a {
    color: black;
    background-color: #CCCCCC;
    border: solid 1px #CCCCCC;
  }
.pagination li.active a {
    color: black;
    background-color: #CCCCCC;
    border: solid 1px #CCCCCC;
    font-weight: bold;
  }
.pagination li a {
    border: solid 1px #d7d7d7;
    border-radius: 0.2rem;
    color: #7d7d7d;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0.9rem;
  }

.left-align {
  text-align: left;
}
