<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>

    <!-- font(Logo) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- css -->
    <link rel="stylesheet" href="../../assets/css/Blog/blog_common.css">
    <link rel="stylesheet" href="../../assets/css/Blog/blogNoticeDetail.css">
</head>

<body>
    <!------ br_container ------>
    <div class="clearfix" id="br_container">
        <!------ br_sidebar ------>
        <div id="br_sidebar">
            <div class="live_list">
                <!---- 로고 ---->
                <div class="live_logo">
                    <a href="">Br.</a>
                </div>
                <!---- 타이틀 ---->
                <div class="live_title">
                    <p>버스킹 Live</p>
                </div>

                <!---- 우주멋쟁이 ---->
                <div class="side_nav">
                    <!---- 프로필 사진 ---->
                    <div class="profile_img">
                        <img src="../assets/img/profile.jpg" alt="profile_img" class="profile_user_img">
                    </div>
                    <!---- 활동명 ---->
                    <div class="profile_name">
                        <span>우주멋쟁이</span>
                    </div>
                    <!---- 라이브 on ---->
                    <div class="live_on"></div>
                    <!---- 장르 ---->
                    <div class="profile_genre">
                        <img src="../assets/img/hiphop.png">
                    </div>
                </div>

                <!---- 블랙핑크 지수 ---->
                <div class="side_nav">
                    <!---- 프로필 사진 ---->
                    <div class="profile_img">
                        <img src="../assets/img/profile2.jpg" alt="profile_img" class="profile_user_img">
                    </div>
                    <!---- 활동명 ---->
                    <div class="profile_name">
                        <span>블랙핑크 지수</span>
                    </div>
                    <!---- 라이브 on ---->
                    <div class="live_on"></div>
                    <!---- 장르 ---->
                    <div class="profile_genre">
                        <img src="../assets/img/soul.png">
                    </div>
                </div>

                <!---- 벤 ---->
                <div class="side_nav">
                    <!---- 프로필 사진 ---->
                    <div class="profile_img">
                        <img src="../assets/img/profile3.jpg" alt="profile_img" class="profile_user_img">
                    </div>
                    <!---- 활동명 ---->
                    <div class="profile_name">
                        <span>벤</span>
                    </div>
                    <!---- 라이브 on ---->
                    <div class="live_on"></div>
                    <!---- 장르 ---->
                    <div class="profile_genre">
                        <img src="../assets/img/ballade.png">
                    </div>
                </div>

                <!---- 신예은 ---->
                <div class="side_nav">
                    <!---- 프로필 사진 ---->
                    <div class="profile_img">
                        <img src="../assets/img/profile4.jpg" alt="profile_img" class="profile_user_img">
                    </div>
                    <!---- 활동명 ---->
                    <div class="profile_name">
                        <span>신예은</span>
                    </div>
                    <!---- 라이브 on ---->
                    <div class="live_on"></div>
                    <!---- 장르 ---->
                    <div class="profile_genre">
                        <img src="../assets/img/musical.png">
                    </div>
                </div>

                <!---- 다현 ---->
                <div class="side_nav">
                    <!---- 프로필 사진 ---->
                    <div class="profile_img">
                        <img src="../assets/img/profile5.jpg" alt="profile_img" class="profile_user_img">
                    </div>
                    <!---- 활동명 ---->
                    <div class="profile_name">
                        <span>다현</span>
                    </div>
                    <!---- 라이브 on ---->
                    <div class="live_on"></div>
                    <!---- 장르 ---->
                    <div class="profile_genre">
                        <img src="../assets/img/dance.png">
                    </div>
                </div>

                <!---- 유재석 ---->
                <div class="side_nav">
                    <!---- 프로필 사진 ---->
                    <div class="profile_img">
                        <img src="../assets/img/user.png" alt="profile_img" class="profile_user_img">
                    </div>
                    <!---- 활동명 ---->
                    <div class="profile_name">
                        <span>유재석</span>
                    </div>
                    <!---- 라이브 on ---->
                    <div class="live_on"></div>

                    <!---- 장르 ---->
                    <div class="profile_genre">
                        <img src="../assets/img/etc.png">
                    </div>
                </div>
            </div>


            <!---- 푸터 ---->
            <div class="footer">
                <p>
                    대표이사 김영기<br><br>

                    주소 서울 강남구 테헤란로 415<br>
                    (버스커라운드 주식회사)<br><br>

                    사업자 등록번호 133-12-15979<br><br>
                    문의전화 02-8732-4204<br>
                    메일 HELP@buskeround.com<br><br>

                    COPYRIGHT©BUSKEROUND<br>
                    CROP ALL RIGHTS RESERVED.<br>
                </p>
            </div>
        </div>
        <!------ ////(br_sidebar)//// ------>

        <!------ br_content ------>
        <div id="br_content">
            <!---- 배너 ---->
            <div class=" banner">
                <!-- 블로그 관리 버튼 -->
                <img class="setting" src="../assets/img/settings.png">

                <!-- 배너 안 영상 -->
                <ul class="banner_in">
                    <li><a href="">2021. 09. 07 <br> 홍대 예술거리</a></li>
                    <li>
                        <div class="stream_box">
                            <a href=""><img src="../assets/img/buker.jpg" alt=""></a>
                        </div>
                    </li>
                </ul>

                <!-- 공연시작 버튼 -->
                <form id="form" action="">
                    <button type="submit" class="btn_start">공연시작</button>
                </form>

                <!-- sns 버튼 -->
                <a href=""><img class="facebook" src="../assets/img/facebook.png" alt=""></a>
                <a href=""><img class="instagram" src="../assets/img/instagram.png" alt=""></a>
                <a href=""><img class="youtube" src="../assets/img/youtube.png" alt=""></a>
            </div>

            <!---- 프로필 박스 ---->
            <div class="profile_box">
                <div class="main_profile">
                    <img src="../assets/img/profile.jpg">
                </div>

                <table class="profile_intr">
                    <!-- 장르 -->
                    <tr>
                        <td class="main_genre"><img src="../assets/img/hiphop.png"></td>
                    </tr>

                    <!-- 활동명 -->
                    <tr>
                        <td class="main_name">우주 멋쟁이</td>
                    </tr>

                    <!-- 한 줄 소개 -->
                    <tr>
                        <td class="main_intr"> 안녕하세요. 깊은 밤 이야기를 노래하는 아티스트 입니다. :)</td>
                    </tr>
                </table>

                <!---- 이력사항 ---->
                <table class="profile_his">
                    <tr>
                        <td class="history"><img src="../assets/img/resume.png"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="history1">- 전국노래자랑 185회 대상</td>
                        <td class="history2">- 인기가요 283회 출연</td>
                    </tr>
                    <tr>
                        <td class="history1">- 복면가왕 29회 3연승</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="history1">- 불후의명곡 29회 17연승</td>
                        <td></td>
                    </tr>
                </table>

                <!---- 좋아요&팬 박스 ---->
                <table class="like_box">
                    <!-- 좋아요&팬 버튼 -->
                    <tr>
                        <td><img class="heart" src="../assets/img/heart1.png"></td>
                        <td><img class="like" src="../assets/img/fan2.png"></td>
                    </tr>

                    <!-- 좋아요&팬 Count-->
                    <tr>
                        <td class="heart_count" rowspan="2">23</td>
                        <td class="like_count" rowspan="2">4235</td>
                    </tr>
                </table>
            </div>

            <!-- 메인 -->
            <div class="main-detail">
                <!-- 해딩 -->
                <div id="detail-header">
                    <h3> 8월 29일 버스킹 공지사항</h3>
                </div>
                <!-- 작성자, 날짜, 조회 -->
                <div class="modify-header clearfix">
                    <img id="profilepicture" src="../assets/img/profile.jpg">
                    <span class="bold">우주 멋쟁이</span>
                    <span>2021-09-10</span>
                    <span>조회 497</span>

                    <button id="deletebutton">삭제</button>
                    <button id="modifybutton">수정</button>
                </div>
                <!-- 내용 -->
                <div class="detail-content">
                    <p>If you're looking for random paragraphs, you've come to the right place. When a random word or a random sentence isn't quite enough, the next logical step is to find a random paragraph. We created the Random Paragraph Generator with you in mind. The process is quite simple. Choose the number of random paragraphs you'd like to see and click the button. Your chosen number of paragraphs will instantly appear.

                        While it may not be obvious to everyone, there are a number of reasons creating random paragraphs can be useful. A few examples of how some people use this generator are listed in the following paragraphs</p>
                </div>

                <!-- 공지사항 목록 -->
                <div>
                        <!-- 글쓰기 버튼 -->
                    <div class="clearfix">
                        <button id="writebutton">목록</button>
                    </div>

                    <!-- 게시판 테이블 -->
                    <div id="board">
                        <table id="list">
                            <thead>
                                <tr>
                                    <th>공지</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>작성일</th>
                                    <th>조회</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>8월 29일 버스킹 공지사항</td>
                                    <td>우주 멋쟁이</td>
                                    <td>2021-09-08</td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>8월 29일 버스킹 공지사항</td>
                                    <td>우주 멋쟁이</td>
                                    <td>2021-09-08</td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>8월 29일 버스킹 공지사항</td>
                                    <td>우주 멋쟁이</td>
                                    <td>2021-09-08</td>
                                    <td>100</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            

            
        </div>
        <!------ ////(br_content)//// ------>
    </div>
    <!------ ////(br_container)//// ------>
</body>

</html>